@import "../../../styles/index";
@font_color: @main_font_color;
@font_error_color: #0000ff;
@chose_color: #d4e5fb;
@font_color_disabled: @disabled_color;
@border_color: #a9a9a9;
@border_radius: 0.15rem;
@input_height: 2.8rem;

.may_form_item {
    margin: 0.2rem 0;
    //height: 4.3rem;
    .may_form_item_title {
        float: left;
        width: 10rem;
        text-align: right;
        line-height: @input_height;
        height: @input_height;
    }
    .may_form_input {
        float: left;
        //height: @input_height;
    }
    .may_form_item_validblank, .may_form_validres {
        float: left;
        height: 1.4rem;
        line-height: 1.4rem;
        font-size: 1.4rem;
    }
    .may_form_item_validblank {
        width: 10rem;
        text-align: right;
    }
    .may_form_validres.unvalid { color: #ea1000; }
    .may_form_validres.valid { color: @font_color; }
    .cb {
        clear: both;
        display: block;
    }
}

.may_form_checkbox, .may_form_radio {
    cursor: pointer;
    padding: 0 0.6rem 0 0;
    display: inline-block;
    line-height: @input_height;
    height: @input_height;
    .fa {
        color: @font_color;
        font-size: 1.2rem;
        padding: 0 0.3rem 0 0;
    }
    .fa.disabled {
        color: @border_color;
    }
}
.may_form_checkbox.disabled, .may_form_radio.disabled {
    cursor: default;
    .fa {
        color: @border_color;
    }
}
.may_form_textarea {
    display: inline-block;
    vertical-align: middle;
    textarea {
        resize: none;
        padding: 0.2rem 0.5rem;
        border: 0.1rem solid #a9a9a9;
        border-radius: 0.1rem;
        float: left;
    }
}
.may_form_select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #ffffff;
    span {
        height: @input_height;
        line-height: @input_height - 0.1;
        border: 0.1rem solid @border_color;
        border-radius: @border_radius;
        padding: 0 2rem 0 0.5rem;
        cursor: pointer;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    span.disabled {
        background-color: @font_color_disabled;
        cursor: default;
    }
    .fa {
        position: absolute;
        right: 0.7rem;
        top: 32%;
        font-size: 1rem;
        cursor: pointer;
        color: @border_color;
    }
    ul {
        position: absolute;
        top: 110%;
        z-index: 5;
        border: 0.1rem solid @border_color;
        border-radius: @border_radius;
        padding: 0.4rem 0.5rem;
        background: #ffffff;
        min-width: 100%;
        li {
            height: @input_height - 1;
            line-height: @input_height - 1;
            margin: 0 0 0.2rem 0;
            cursor: pointer;
            white-space: nowrap;
        }
        li.selected, li:hover {
            background: @chose_color;
        }
    }
}
.may_form_text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    input, input:focus, input:disabled {
        height: @input_height;
        padding: 0 2rem 0 0.5rem;
        border: 0.1rem solid @border_color;
        border-radius: @border_radius;
        float: left;
    }
    input:disabled {
        background-color: @font_color_disabled;
    }
    .fa {
        position: absolute;
        right: 0.7rem;
        top: 32%;
        font-size: 1rem;
        cursor: pointer;
        color: @border_color;
    }
}
.may_form_button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    button {
        height: @input_height;
        border: 0.1rem solid @border_color;
        border-radius: @border_radius;
        padding: 0 1.5rem; 
        cursor: pointer;
        float: left;
    }
    button.icon {
        padding: 0 1.5rem 0 2.5rem;
    }
    button:hover {
        opacity: 0.9;
    }
    button:active {
        opacity: 0.8;
    }
    button:visited {
        opacity: 1;
    }
    button:disabled {
        opacity: 0.4;
        cursor: default;
    }
    button.info {
        background-color: #5e87b0; 
        color: #ffffff;
        border-color: #08529c;
    }
    button.warning {
        background-color: #ff9800; 
        color: #ffffff;
        border-color: #d88100;
    }
    button.error {
        background-color: #f44336; 
        color: #ffffff;
        border-color: #ea1000;
    }
    button.alter {
        background-color: #484848; 
        color: #ffffff;
        border-color: #000000;
    }
    .fa {
        position: absolute;
        left: 15%;
        top: 32%;
        display: block;
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
    }
}
.may_form_textarea::after, .may_form_item::after, .may_form_select::after, .may_form_text::after, .may_form_button::after {
    clear: both;
    display: block;
}