@disabled_color: #f1f1f1;
@input_height: 1.7rem;
::-ms-clear, ::-ms-reveal{display: none;}
* {margin: 0; padding: 0; font-size: 1.6rem; outline: none; box-sizing: border-box;}
*:disabled {background-color: @disabled_color}
html, body {width: 100%; font-size: 62.5%; font-family: "Microsoft Yahei", sans-serif;}

.w1000 {width: 1000px;}
.cp {cursor: pointer;}
.db {display: block;}
.dn {display: none;}
.fl {float: left;}
.fr {float: right}
.txl {text-align: left;}
.txc {text-align: center;}
.txr {text-align: right;}
.cb {clear: both;}

.va_a {
    position: relative;
    input {
        height: 2.8rem;
        border: 0.1rem solid #0a0a0a;
        border-radius: 0.3rem;
        padding: 0 2rem 0 0.5rem;
        float: left;
    }
}
.va_b {
    position: relative;
    button {
        height: 2.8rem;
        border: 0.1rem solid #0a0a0a;
        border-radius: 0.3rem;
        padding: 0 1.5rem;
        float: left;
    }
}